click==8.1.7
ConfigParser==7.1.0
cx_Freeze==7.2.4
numpy==2.1.3
pandas==2.2.3
py2exe==0.13.0.2
pydicom==3.0.1
pykwalify==1.8.0
pynrrd==1.1.1
ruamel.base==1.0.0
scikit_learn==1.5.2
scipy==1.14.1
setuptools==65.5.0
SimpleITK==2.4.0
six==1.16.0
skimage==0.0
sphinx_rtd_theme==3.0.1
torch==2.1.2+cu118
tqdm==4.64.1
trimesh==4.5.2
xlrd==2.0.1
